autopep8==2.0.2
certifi==2022.12.7
charset-normalizer==3.0.1
emoji==2.2.0
idna==3.4
isodate==0.6.1
numpy==1.24.2
pandas==1.5.3
Pillow==9.5.0
pycodestyle==2.10.0
pyparsing==3.0.9
pyTelegramBotAPI==4.10.0
python-dateutil==2.8.2
pytz==2022.7.1
rdflib==6.3.2
requests==2.28.2
six==1.16.0
SPARQLWrapper==2.0.0
swiplserver==1.0.2
tomli==2.0.1
urllib3==1.26.14
